/*font-family: 'Roboto', sans-serif; */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
   
}

main{
    margin: 0 20px;
}


#about {
    width: 1218px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.about-container {
    display: flex;
    max-width: 1200px;
}

.about-title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 3.44em;
    line-height: 101.38%;
    margin-bottom: 2.5%;
}

.left-about-container {
    width: 55.5%;
    min-width: 53%;
    font-weight: 400;
    font-size: 150%;
    line-height: 150%;
    margin-right: 5%;
    margin-top: 0%;
}

.about-text-second {
    margin-top: 5.2%;
}

.right-about-container {
    padding-top: 3em;
    flex-basis: 39%;
}

.about-image-div {
    margin-left: 25%;
    max-width: 366px;
}

.about-image{
    width: 100%;
}

#duration {
    max-width: 1002px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5%;
}

.duration-container {
    display: flex;
    justify-content: space-between;
}

.duration-image-container {
    margin-right: 4%;
}

.duration-image{
    width: 100%;
}

.duration-text-container {
    width: 15%;
    margin-top: 4.5%;
}

.duration-title {
    font-weight: 700;
    font-size: 1.56em;
    line-height: 130%;
    margin-bottom: 0;
}

.duration-text {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 130%;
    margin-top: 4%;
}


@media (max-width: 830px) and (min-width: 376px) {
 
    #about {
        max-width: 705px;
        margin-left: auto;
        margin-right: auto;
        font-size: 9.5px;
        margin-top: 9%;
    }

    .about-title {
        margin-bottom: 0;
    }

    .about-container {
        margin-top: 2%;
    }

    .right-about-container{
        min-width: 200px;
    }

    .left-about-container {
        max-width: 383.41px;
        line-height: 150%;
    }

    .about-image-div {
        max-width: 211.98px;
        margin-left: 26%;
    }


    #duration {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        font-size: 9.5px;
    }

    .duration-image-container{
        display: none;
    }

    .duration-container {
        margin-top: -2%;
        max-width: 383px;
    }


    .duration-text-container {
        margin-top: 4%;
        max-width: 100px;
        flex-basis: 23%;
    }


}

@media (max-width: 375px) {


    #about {
        width: 308px;
        margin-left: auto;
        margin-right: auto;
        font-size: 7.5px;
        margin-top: 8%;
    }

    .about-container {
        flex-direction: column;
    }

    .left-about-container {
        margin-top: 1.5%;
        font-size: 12px;
        width: 100%;
    }

    .about-image-div{
        width: 170.55px;
        margin-left: 20%;
        margin-top: -8%;
    }

    #duration {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        font-size: 7.5px;
        margin-top: 2%;
    }

    .duration-container {
        flex-flow: row wrap;
    }

    .duration-image-container {
        display: none;
    }

    .duration-text-container {
        margin-right: -12%;
        width: 85px;
        margin-bottom: -2%;
    }

    .duration-text {
        font-size: 10px;
    }


}


